@charset "utf-8";

// -----------------------------------------------------------------------------
// Styles for Cloudcannon editor
// -----------------------------------------------------------------------------

/// https://docs.cloudcannon.com/editing/options/



span.big-purple-text { /* Can be applied to inline content */
  font-size: 2rem;
  color: rgb(114, 113, 160);
}

p.callout { /* Can be applied to blocks of content?? */
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(114, 113, 160);
  background-color: #eee;
}

.center-this-text { /* Excluded from style dropdown, used as center class described below */
  text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.full-width-text {
    text-align: justify;
}
