---
layout: page
title: "Galleries"
permalink: /gallery/
main_image_path:
main_image_caption:
frontpage: false
description_markdown:
frontpagetitle:
archive:
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Gallery title
  permalink: Be careful editing this
  main_image_path: Image used to represent your gallery
  archive: Not used yet!
  frontpage: Show this gallery on the homepage
  homepage_description_markdown: Text used on homepage if shown
---
<div class="gallery">

{% for gallery in site.gallery%}

     <div class="gallery-box{% cycle '', ' last' %}">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}">
	          {% include img.html src=gallery.main_image_path width=1200 max-h=400 fit=clip alt=gallery.title %}
	          <h4>{{ gallery.title }}</h4>
          </a>

     </div>

{% endfor %}
</div>
