---
layout: page
title: "Galleries"
permalink: /gallery/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle:
archive:
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Gallery title
  permalink: Be careful editing this
  main_image_path: Image used to represent your gallery
  archive: Not used yet!
  frontpage: Show this gallery on the homepage
  homepage_description_markdown: Text used on homepage if shown
---

<div class="editable">
  <p class="strapline">Block layout. See also the <a href="/grid-layout/">grid layout</a></p>
  <p>Check <a href="/gallery/cropped/">Cropped gallery</a> for an example of the cropped thumbnail layout. Other galleries default to full format thumbnails. Either is possible, on a per gallery basis.</p>
</div>

<div class="gallery">

<!-- order galleries by date -->
{% assign galleries = site.gallery | sort: '_gallery_date' | reverse %}

{% for gallery in galleries %}

     <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
          <a href="{{ gallery.url }}">
            <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery--header">
                <h2 class="title mb0">{{ gallery.title }}</h2>
              </header>

          </article>
          </div>
        </a>
      </section>

{% endfor %}
</div>
