---
layout: home
carousel:
  - image: /assets/images/advert-customers.jpg
    caption: "A test caption"
    link: /gallery/test/
  - image: /assets/images/advert-impregnable.jpg
    caption:
    link:
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

    <div class="editable">
    <p>This is the demo editable first paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, in magnam placeat. Ex illo ipsa libero voluptatem necessitatibus modi fugit odit omnis. Sequi voluptatem mollitia voluptatum ipsum placeat, quaerat laudantium!</p>
    </div>

    {% if page.carousel %}
    <!-- <div class="two-thirds no-gutter"> -->
    <section>
      <h2>This is a demo slideshow</h2>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- </div> -->
      {% endif %}

      <!-- Regular page promotions on front page -->
      {% for section in site.pages %}

      {% if section.frontpage %}

        {% if section.main_image_path %}
          <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
        {% else %}
          <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
        {% endif %}
          <a href="{{ section.url | prepend: site.baseurl }}">
            <div class="scrim has-cover">
              <article class="gallery--front">
                <header class="gallery-header">
                  <h2 class="title">{{ section.frontpagetitle }}</h2>
                </header>
                {% if section.homepage_description_markdown: %}
                  {{ section.homepage_description_markdown:  | markdownify }}<br>
                  <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                {% endif %}
            </article>
          </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}

      <!-- Galleries -->
    {% for gallery in site.gallery %}
      {% if gallery.frontpage %}
        <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
          <a href="{{ gallery.url }}">
            <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery-header">
                <h2 class="title">{{ gallery.title }}</h2>
              </header>
              {% if gallery.homepage_description_markdown:  %}
                {{ gallery.homepage_description_markdown:  | markdownify }}
              {% endif %}
          </article>
          </div>
        </a>
      </section>
      {% endif %}
    {% endfor %}
