---
layout: default
---

  <div class="page">

    <div class="editable">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, in magnam placeat. Ex illo ipsa libero voluptatem necessitatibus modi fugit odit omnis. Sequi voluptatem mollitia voluptatum ipsum placeat, quaerat laudantium!</p>
    </div>

      <div class="gallery">
      {% for gallery in site.gallery %}

           <div class="gallery-box gallery-box-home {% cycle '', ' last' %}">
              <a href="{{ gallery.url }}">

                {% if gallery.main_image_path %}
                  {% include img.html src=gallery.main_image_path width=400 height=300 %}
                {% else %}
                  {% include img.html src="/siteicon.png" width=400 height=300 %}
                {% endif %}

                <h3>{{ gallery.title }}</h3>
              </a>

           </div>

      {% endfor %}
      </div>

      <div class="editor-link">
        <!-- Editor Link to site status -->
        <a href="cloudcannon:status">Link to Site Status and Recent Activity</a>
      </div>
  </div>
