---
layout: page
title: "Posts"
main_image_path:
image_caption:
permalink: /posts/
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
---

  <section class="blog">

      {% for post in site.posts limit: 4 %}
        <a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>

        {% if post.main_image_path %}
          <figure class="featured--col">
            <a href="{{ post.url | prepend: site.baseurl }}">
            {% assign alt_text = post.title %}
            {% if post.image_caption %} {% assign alt_text = post.image_caption %} {% endif %}
            {% include img.html src=post.main_image_path width=200 alt=alt_text %}
            </a>
          </figure>
        {% endif %}

        {% if post.main_image_path %}<p class="with--feature">{% else %}<p>{% endif %}
        {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
        <div class="post-meta">
          <!-- <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div> -->
          <!-- Editor Link -->
          <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
        </div>
        <p></p>
        </li>
      {% endfor %}
  </section>
