---
layout: page
title: "Things"
permalink: /things/
---

<ul class="posts-list">
  {% assign things = site.things | sort: 'thing_date' | reverse %}  
  {% for thing in things %}
    <li>
      <strong>
        <a href="{{ thing.url | prepend: site.baseurl }}">{{ thing.title }}</a>
      </strong>
      {% if thing.thing_date %}
        <span class="post-date">- {{ thing.thing_date | date: '%B %Y' }}</span>
      {% endif %}
      {% if thing.description %}
        <br><span class="post-description">{{ thing.description }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
