<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo" title="Return home">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <h1>{{ site.title }}</h1>
      <div class="subtitle">{{ site.subtitle }}</div>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!--
        {% for link in site.data.nav %}
          <li class="nav-link{% if page.url == link.href %} active{% endif %} {% if link.subcategories != null %} more{%endif %}"><a href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
          {% if link.subcategories != null %}
            <ul class="submenu">
            {% for subcategory in link.subcategories %}
                 <li><a href="{{ subcategory.subhref | prepend: site.baseurl }}">{{ subcategory.subtitle }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

        {% endfor %}
        -->
        <li class="nav-link"><a href="/about/">About</a></li>
        <li class="nav-link menu__container more"  id="menu__container">
          <a href="#menu" id="menu__button" class="menu__button">Galleries</a>
          <div id="menuclick" class="menuclick">
            <ul class="submenu">
                 <li><a href="/gallery/in-the-mediterranean/">In the Mediterranean</a></li>
                 <li><a href="/gallery/poet-in-exile/">Poet in Exile</a></li>
                 <li><a href="/gallery/sufi-stories/">Sufi Stories</a></li>
                 <li><a href="/gallery/women-in-science/">Women in Science</a></li>
                 <li><a href="/gallery/various/">Various</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-link"><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
