<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo" title="Return home">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <h1>{{ site.title }}</h1>
      <div class="subtitle">{{ site.subtitle }}</div>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <svg class="icon"><use xlink:href="#icon-reorder" /></svg>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">

        {% for link in site.data.nav %}

          {% if link.subcategories != null %}

          <li class="nav-link{% if page.url == link.href %} active{% endif %} menu__container more" id="menu__container">
            <a href="#menu" id="menu__button" class="menu__button">{{ link.title }}</a>
            <div id="menuclick" class="menuclick">
              <ul class="submenu">

                {% for subcategory in link.subcategories %}

                     <li><a href="{{ subcategory.subhref | prepend: site.baseurl }}">{{ subcategory.subtitle }}</a></li>

                {% endfor %}

              </ul>
            </div>
          </li>

          {% else %}

          <li class="nav-link{% if page.url == link.href %} active{% endif %} {% if link.subcategories != null %} more{%endif %}">
            <a href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
          </li>

          {% endif %}

        {% endfor %}

      </ul>
    </nav>
  </div>
</header>
