<li class="post--inlist">

    <a href="{{ post.url | prepend: site.baseurl }}" class="post--image">

      <figure>
        {% assign image = site.default_post_image %}
        {% if post.main_image_path %}
          {% assign image = post.main_image_path %}
        {% endif %}

        {% assign alt_text = post.title %}
        {% if post.main_image_caption %} {% assign alt_text = post.main_image_caption %} {% endif %}
        {% include img.html src=image alt=alt_text %}
      </figure>

    </a>

    <div class="post--content">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post--title">
        <h4>{{ post.title }}</h4>
      </a>
      <p>
      {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.baseurl }}">read more&nbsp;&raquo;</a>

      {% if site.disqus_shortname %}

        {% if post.comments %}
          <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>

        {% endif %}

      {% endif %}
      </p>

      <div class="post--meta">
        <span class="post--date">{{ post.post_date  | date: "%-d %B %Y" }}</span>
        <!-- Editor Link -->
        <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
      </div>

    </div>

  </li>