

/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    height: 100%;
    //@include display(flex); // don't need flexbox on this simple gallery replica
    //@include flex-direction(column);
    background-color: $base-background-color;
}

.navigation, .site-footer {
    //@include flex(none);
    //@include flex(1 0 auto);
}

.page-content {
    //@include flex(1 0 auto);
}


ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}

/* SVG icons */
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
a:hover .icon { /* hover colour */
    fill: $bc-red;
}
.icon--readmore {
    fill: $white;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--post {
    fill: $action-color;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--inactive {
    fill: $medium-gray;
}
.icon--logo {
    fill: $bc-red;
    width: 20px;
    height: 20px;
}
.icon-facebook_sign { fill: $facebook; }
.icon-instagram { fill: $instagram; }
.icon-twitter_sign { fill: $twitter; }
.icon-youtube { fill: $youtube; }
.icon-soundcloud { fill: $soundcloud; }
.icon-vimeo_square { fill: $vimeo; }

pre code.hljs {
    font-size: modular-scale(-1);
}

.page-divider {
    $divider-color: $light-gray;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $divider-color;
    .one {
        position: relative;
        top: -9px;
        display: block;
        background: $divider-color;
        width: 18px;
        height: 18px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    .two {
        position: relative;
        top: -26px;
        display: block;
        background: $white;
        width: 16px;
        height: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
}

/*
*   Banner
*/
.site-header-container, .post-header-container {
    width: 100%;
    &.has-cover {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
        background-position: 50% 50%;
        background-size: cover;
        .title {
            font-size: modular-scale(6);
        }
        .subtitle, .info {
            font-size: modular-scale(1);
        }
    }
    .scrim {
        padding: 3em 1em;
        &.has-cover {
            background-color: rgba(0,0,0,0.2);
            padding: 0 0 6em  !important;
            @include media($tablet) {
                padding: 0 1em 9em !important;
            }
            .site-header {
                background-color: rgba(0, 0, 0, 0.2);
                padding: 0 1em !important;
            }
        }
    }
}
/*
 * page specific
 */

.about {
    h2 {
        @extend .pink;
        border-bottom: none;
        text-align: center;
    }
    blockquote {
        @extend .pink;
    }
}
.pink {
    color: rgb(255,0,255);
}
.half {
    @include span-columns(12);
    @include media ($mobile) {
        @include span-columns(6);
    }
}
.textright {
    text-align: right;
}
/*
*	Body
*/
.page-content {

    @include outer-container;
    padding: 1em;
    background-color: $white;
    .home, .page {


        @include media ($tablet) {
            padding: 1em 0;
        }

    }

    /*
    *	index.html
    */
    .post-list {
        padding-top: 1em !important;
        @extend %default-ul;
    }
    .post-meta {
        @include outer-container;
        // padding: 1em 0;
        color: $medium-gray;
        .post-date {
            @include span-columns(6);
            text-align: left;
            font-size: 0.9em;
        }
        .post-categories {
            @include span-columns(6);
            margin-right: 0;
            text-align: right;
            font-size: 0.9em;
        }
    }
    .pagination {
        padding-top: 2em;
        text-align: center;
        color: $medium-gray;
        .page-number {
            padding: 0 1em;
        }
    }
    .site-header-container {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.33);
        background-color: $highlight-color;
        .site-header{
            .title {
                font-size: modular-scale(6);
            }
            .subtitle {
                font-style: italic;
                font-size: modular-scale(1);
            }
        }
    }
    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
    /*
    *	Posts
    */
    .post {
        ul {
            margin-bottom: 1em;
        }
        .post-header-container {
            .scrim {
                padding: 2em 1em 1em 1em;
            }
        }
        .post-meta {
            padding-bottom: 1em;
        }
        .post-content {
            padding: 1em 0;
        }
        .tags {
            font-size: 0.9em;
        }
        .rss {
            margin: 1em 0 0 0;
            @include span-columns(12);
            @include media ($tablet) {
                margin: 1em 0;
                @include span-columns(6);
            }
        }
        .share {
            font-weight: bold;
            margin: 0 0 1em 0;
            @include span-columns(12);
            @include media ($tablet) {
                @include span-columns(6);
                margin: 1em 0;
                text-align: right;
            }
            a {
                width: 1em;
                padding: 0 0.25em;
                text-decoration: none;
            }
        }
        .disqus {
            @include span-columns(12);
        }
        .post-navigation {
            font-size: 0.9em;
            display: block;
            width: auto;
            .prev-post {
                display: block;
                width: 50%;
                float: left;
                margin: 1em 0;
            }
            .next-post {
                display: block;
                width: 50%;
                float: left;
                margin: 1em 0;
                text-align: right;
            }
        }
    }
    /*
    *	Pages
    */
    .page {

        .post-header {
            padding: 0;
            h1 {
                padding-bottom: 0;
                /*margin-bottom: 0;*/
            }
        }
        .posts-list {
            @extend %default-ul;
            li {
                padding: modular-scale(-4);
                padding-left: 0;
            }
            .desc {
                font-size: 0.9em;
            }
            .post-date {
                color: $medium-gray;
            }
        }
        .profile {
            max-width: 320px;
            margin: auto;
            padding-bottom: 0.5em;
        }


    }
    input {
        @include media ($tablet) {
            width: 50%;
        }
    }
}

/*
*	Footer
*/
.site-footer {
    @include outer-container;
    padding: 1em;
    background-color: $white;
    .wrapper {
        @include outer-container;
        padding: 0 1em;
    }
    a {
        //color: $link-color;
        &:active,
            &:focus,
            &:hover {
            //color: darken($link-color, 10%);
        }
        &:active,
            &:focus {
            outline: none;
        }
    }


}
/*
*   Site Navigation (left)
*/
.site-navigation {
    @include span-columns(12);
    @include media ($mobile) {
        @include span-columns(6);
    }
    font-size: 0.9em;
    ul {
        @extend %default-ul;
    }
}
/*
*   Site Description/Signature (right)
*/
.site-signature {
    margin-top: 1em;
    text-align: center;
    @include span-columns(12);
    @include media ($tablet) {
        @include span-columns(6);
        margin-right: 0;
        margin-top: 0;
    }
    font-size: 0.9em;
    a {
        text-decoration: underline;
    }
}
/*
*   Contact Info (center)
*/
.site-contact {
    margin-top: 1em;
    @include span-columns(12);
    @include media ($mobile) {
        @include span-columns(6);
        margin-top: 0;
        margin-right: 0;
    }

    font-size: 0.9em;
    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}
/*
* Editor link
*/
.editor-link {
  display: none;
}

.cms-editor-active .editor-link {
  display: block;
}
