// Primary site layout for Centrarium Theme
// this is imported last from /css/main.scss
//
/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

// navigation
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: $tablet !default;
$navigation-padding: 1em;
$navigation-background: $kbgray;
$navigation-color: transparentize($camouflage, 0.3);
$navigation-color-hover: white;
$navigation-height: 30px;

$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 20em;
$horizontal-bar-mode: $large-screen;
/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

html {
    height: 100%;
}

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    background-color: $kbgray;
}

.navigation, .site-footer {
    @include flex(none);
}

.page-content {
    @include flex(1 0 auto);
}


ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}

pre code.hljs {
    font-size: modular-scale(-1);
}

.page-divider {
    $divider-color: $light-gray;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $divider-color;
    .one {
        position: relative;
        top: -9px;
        display: block;
        background: $divider-color;
        width: 18px;
        height: 18px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    .two {
        position: relative;
        top: -26px;
        display: block;
        background: $white;
        width: 16px;
        height: 16px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
}

.site-header-container, .post-header-container {
    width: 100%;
    &.has-cover {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
        background-position: 50% 50%;
        background-size: cover;
        .title {
            font-size: modular-scale(6);
        }
        .subtitle, .info {
            font-size: modular-scale(1);
        }
    }
    .scrim {
        padding: 3em 1em;
        &.has-cover {
            background-color: rgba(0,0,0,0.2);
            padding: 0 0 6em  !important;
            @include media($tablet) {
                padding: 0 1em 9em !important;
            }
            .site-header {
                background-color: rgba(0, 0, 0, 0.2);
                padding: 0 1em !important;
            }
        }
    }
}

/*
*	Header
*/
body > header {
    border-bottom: 1px solid $camouflage;
}
.navigation {
    /*box-shadow: 0 2px $highlight-color;*/
    padding: 0 1em;
    margin: 0;
    /*
    *	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
    */
    // Mobile view
    .navigation-menu-button {
        display: block;
        float: right;
        margin: 0;
        font-size: 1.5em;
        padding-top: 0.5em;
        @include media ($tablet) {
            display: none;
        }
    }
    // Nav menu
    .navigation-wrapper {
        @include outer-container;
        @include clearfix;
        position: relative;
        background-color: $kbgray;
    }
    .logo {
        float: left;
        height: 6em;
        @include media ($tablet) {
            padding-left: $em-base;
        }
        img {
            max-height: 2.5em;
            margin-top: 0.75em;
            padding-right: 1em;
        }
        span {
            font-size: 1.25em;
        }
        h1 {
            margin-bottom: 0;
        }
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            //color: darken($link-color, 10%);
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
    nav {
        float: none;
        padding: 1.25em 0;
        @include media ($tablet) {
            float: right;
            line-height: 1.5em;
        }
    }
    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        @include media ($tablet) {
            display: block;
            margin: 0;
            padding: 0;
        }
        &.show {
            display: block;
        }
    }
    // Nav items
    ul li.nav-link {
        display: block;
        text-align: right;
        width: 100%;
        padding: 0.25em 0;
        @include media ($tablet) {
            background: transparent;
            display: inline;
            text-decoration: none;
            width: auto;
        }
    }
    li.nav-link {
        a {
            display: inline-block;
            @include media ($tablet) {
                padding-right: 1.5em;
            }
        }
        &:last-child a {
            @include media ($tablet) {
                padding-right: 1em;
            }
        }
    }
    // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;
      transition: all 0.2s ease-in-out;
      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;
    transition: all 0.2s ease-in-out;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;
      transition: all 0.2s ease-in-out;
      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 10%);
        display: inline-block;
        text-align: right;
        width: 100%;
        transition: all 0.2s ease-in-out;
        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
        &hover,
        &active,
        &focus {
            background-color: $white;
        }
      }
    }
  }

}

/*
*	Body
*/
.page-content {
    .home, .page {
        @include outer-container;
        padding: 1em;
        background-color: $kbgray;
    }

    /*
    *	index.html
    */
    .post-list {
        padding-top: 1em !important;
        @extend %default-ul;
    }
    .post-meta {
        @include outer-container;
        // padding: 1em 0;
        color: $medium-gray;
        .post-date {
            @include span-columns(6);
            text-align: left;
            font-size: 0.9em;
        }
        .post-categories {
            @include span-columns(6);
            margin-right: 0;
            text-align: right;
            font-size: 0.9em;
        }
    }
    .pagination {
        padding-top: 2em;
        text-align: center;
        color: $medium-gray;
        .page-number {
            padding: 0 1em;
        }
    }
    .site-header-container {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.33);
        background-color: $highlight-color;
        .site-header{
            .title {
                font-size: modular-scale(6);
            }
            .subtitle {
                font-style: italic;
                font-size: modular-scale(1);
            }
        }
    }
    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
    /*
    *	Posts
    */
    .post {
        ul {
            margin-bottom: 1em;
        }
        .post-header-container {
            .scrim {
                padding: 2em 1em 1em 1em;
            }
        }
        .post-meta {
            padding-bottom: 1em;
        }
        .post-content {
            padding: 1em 0;
        }
        .tags {
            font-size: 0.9em;
        }
        .rss {
            margin: 1em 0 0 0;
            @include span-columns(12);
            @include media ($tablet) {
                margin: 1em 0;
                @include span-columns(6);
            }
        }
        .share {
            font-weight: bold;
            margin: 0 0 1em 0;
            @include span-columns(12);
            @include media ($tablet) {
                @include span-columns(6);
                margin: 1em 0;
                text-align: right;
            }
            a {
                width: 1em;
                padding: 0 0.25em;
                text-decoration: none;
            }
        }
        .disqus {
            @include span-columns(12);
        }
        .post-navigation {
            font-size: 0.9em;
            display: block;
            width: auto;
            .prev-post {
                display: block;
                width: 50%;
                float: left;
                margin: 1em 0;
            }
            .next-post {
                display: block;
                width: 50%;
                float: left;
                margin: 1em 0;
                text-align: right;
            }
        }
    }
    /*
    *	Pages
    */
    .page {

        .post-header {
            padding: 0;
            h1 {
                padding-bottom: 0;
                /*margin-bottom: 0;*/
            }
        }
        .posts-list {
            @extend %default-ul;
            li {
                padding: modular-scale(-4);
                padding-left: 0;
            }
            .desc {
                font-size: 0.9em;
            }
            .post-date {
                color: $medium-gray;
            }
        }
        .profile {
            max-width: 320px;
            margin: auto;
            padding-bottom: 0.5em;
        }
        /*
        * Gallery
         */
        .gallery {
            .gallery-box {
                padding-bottom: 1em;
                text-align: center;
            }
            .galleryphoto {
                img {
                    opacity: 1;
                    transition: all 0.2s ease-in-out;
                }
            }

            a {
                h3 {
                    color: $base-font-color;
                }

                &:active,
                &:focus,
                &:hover {
                    text-decoration: none;
                    color: darken($action-color, 20%);
                    h3 {
                        color: $camouflage;
                    }
                }
            }
            @include media ($tablet) {
                @include outer-container;
                .gallery-box {
                    @include span-columns(6);
                }
                .last {
                    @include omega();
                }
            }
        }

    }
    input {
        @include media ($tablet) {
            width: 50%;
        }
    }
}

/*
*	Footer
*/
.site-footer {
    //$link-color: $white;
    padding: 1em 1em 2em 1em;
    border-top: 1px solid $camouflage;
    //background-color: $highlight-color;
    //color: $white;
    a {
        //color: $link-color;
        &:active,
            &:focus,
            &:hover {
            //color: darken($link-color, 10%);
        }
        &:active,
            &:focus {
            outline: none;
        }
    }
    .wrapper {
        @include outer-container;
    }
    .footer-heading {

    }
    /*
    *	Site Navigation (left)
    */
    .site-navigation {
        @include span-columns(12);
        @include media ($mobile) {
            @include span-columns(6);
        }
        @include media ($tablet) {
            @include span-columns(4);
        }
        font-size: 0.9em;
        ul {
            @extend %default-ul;
        }
    }
    /*
    *	Contact Info (center)
    */
    .site-contact {
        margin-top: 1em;
        @include span-columns(12);
        @include media ($mobile) {
            @include span-columns(6);
            margin-top: 0;
            margin-right: 0;
        }

        font-size: 0.9em;
        i {
            width: 1.25em;
            text-align: center;
        }
        ul {
            @extend %default-ul;
        }
    }
    /*
    *	Site Description/Signature (right)
    */
    .site-signature {
        margin-top: 1em;
        text-align: right;
        @include span-columns(12);
        @include media ($tablet) {
            @include span-columns(6);
            margin-right: 0;
            margin-top: 0;
        }
        font-size: 0.9em;
        a {
            text-decoration: underline;
        }
    }

}
