// -----------------------------------------------------------------------------
// This file contains styles that are specific to cover images -
// full width background images
// -----------------------------------------------------------------------------

///  Cover
.site-header-container, .post-header-container {
    width: 100%;

}
.has--cover {
    background-position: 50% 50%;
    background-size: contain;

}
.cover--title {
   font-size: modular-scale(4);
   font-family: $site-title-font-family;
   color: $black;
   font-weight: 700;
   padding-top: 0.8em;
}