// -----------------------------------------------------------------------------
// This file contains styles that are specific to header elements
// -----------------------------------------------------------------------------

h1 {
  font-size: modular-scale(2);
  @include grid-media ($small) {
    font-size: modular-scale(4);
  }
}
h2 {
  font-size: modular-scale(2);
  @include grid-media ($small) {
    font-size: modular-scale(3);
  }
}
h3 {
  font-size: modular-scale(2);
}
h4 {
  font-size: modular-scale(1);
}
h5 {
  font-size: modular-scale(-1);
}
h6 {
  font-size: modular-scale(-2);
}
.hdr--small {
  font-size: modular-scale(0);
}