// -----------------------------------------------------------------------------
// This file contains styles that are specific to pages
// -----------------------------------------------------------------------------

.page--content {
  @include grid-container;
  //@include grid-visual;
  max-width: 1200px;
  padding: 0;
  padding-bottom: 120px;
  margin: 0 auto;
  //background: url('/assets/images/leaf.png') bottom -30px left -30px no-repeat, $page-background-color;
  //background-color: $page-background-color;
  border-right: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  @include grid-media ($small) {
    //background: url('/assets/images/leaf.png') top 10px right 10px no-repeat, url('/assets/images/leaf.png') bottom -30px left -30px no-repeat, $page-background-color;
  }
  /// index.html
  .site-header-container {
      color: $white;
      text-shadow: 0 2px 1px rgba(0,0,0,0.33);
      background-color: $highlight-color;
      .site--header{
          .title {
              font-size: modular-scale(6);
          }
          .subtitle {
              font-style: italic;
              font-size: modular-scale(1);
          }
      }
  }

}

.page {
   padding: 1em;
   max-width: 48em;
   margin: 0 auto;

}
