// -----------------------------------------------------------------------------
// This file contains global styles for posts
// -----------------------------------------------------------------------------

.posts-list {
    @extend %default-ul;
    li {
        padding: modular-scale(-4);
        padding-left: 0;
    }
    .desc {
        font-size: 0.9em;
    }
    .post-date {
        color: $medium-gray;
    }
}
.post-header {
    padding: 0;
    h1 {
        padding-bottom: 0;
        /*margin-bottom: 0;*/
    }
}
.post-list {
    padding-top: 1em !important;
    @extend %default-ul;
}
.post-meta {
    @include outer-container;
    // padding: 1em 0;
    color: $medium-gray;
    .post-date {
        @include span-columns(6);
        text-align: left;
        font-size: 0.9em;
    }
    .post-categories {
        @include span-columns(6);
        margin-right: 0;
        text-align: right;
        font-size: 0.9em;
    }
}
.pagination {
    padding-top: 2em;
    text-align: center;
    color: $medium-gray;
    .page-number {
        padding: 0 1em;
    }
}

///   Posts
.post {
    ul {
        margin-bottom: 1em;
    }
    .post-header-container {
        .scrim {
            padding: 2em 1em 1em 1em;
        }
    }
    .post-meta {
        padding-bottom: 1em;
    }
    .post-content {
        padding: 1em 0;
    }
    .tags {
        font-size: 0.9em;
    }
    .rss {
        margin: 1em 0 0 0;
        @include span-columns(12);
        @include media ($medium) {
            margin: 1em 0;
            @include span-columns(6);
        }
    }
    .share {
        font-weight: bold;
        margin: 0 0 1em 0;
        @include span-columns(12);
        @include media ($medium) {
            @include span-columns(6);
            margin: 1em 0;
            text-align: right;
        }
        a {
            width: 1em;
            padding: 0 0.25em;
            text-decoration: none;
        }
    }
    .disqus {
        @include span-columns(12);
    }
    .post-navigation {
        font-size: 0.9em;
        display: block;
        width: auto;
        .prev-post {
            display: block;
            width: 50%;
            float: left;
            margin: 1em 0;
        }
        .next-post {
            display: block;
            width: 50%;
            float: left;
            margin: 1em 0;
            text-align: right;
        }
    }
}
.post-nav {
    text-align: center;
    border-top: 1px solid $light-gray;
    padding: 1em 0;
}