// -----------------------------------------------------------------------------
// This file contains global styles for posts
// -----------------------------------------------------------------------------

.posts--list {
    @extend %default-ul !optional;
    //@include grid-container;
    //@include grid-visual;
}

.post--inlist {
    border-bottom: 1px solid $action-color;
    //padding: modular-scale(-4);
    padding: 1em 0;
    @include grid-container;
}
.post--columns {
    @include grid-media($small) { // half page width on 488px and above
        @include grid-column(2);
    }
}
.post--caption {
    @include grid-media($small) { // half page width on 488px and above
        @include grid-column(3);
    }
}
.post--image {
    @include grid-media($small) { // half page width on 488px and above
        @include grid-column(1);
    }
}

.pagination {
    padding-top: 2em;
    text-align: center;
    color: $medium-gray;
    .page--number {
        padding: 0 1em;
    }
}
.link--share {
 text-decoration: none;
}
///   Full Posts
.post--header-container {
    .scrim {
        padding: 2em 1em 1em 1em;
    }
}
.post--meta {
    padding-bottom: 1em;
}
.post--content {
    padding: 1em 0;
}

.post {
  
  ul {
      margin-bottom: 1em;
  }
  
  .tags {
      font-size: 0.9em;
  }
  .rss {
      margin: 1em 0 0 0;
      @include grid-column(12);
      @include grid-media ($small) {
          margin: 1em 0;
          @include grid-column(2);
      }
  }
  
  .disqus {
      @include grid-column(12);
  }

}
.post--title {
  margin-bottom: 0.2em;
}
.post--navigation {
    font-size: 0.9em;
    display: block;
    width: auto;
    .prev--post {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
    }
    .next--post {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
        text-align: right;
    }
  }
.post--share {
    font-weight: bold;
    margin: 0 0 1em 0;
    @include grid-column(12);
    @include grid-media ($small) {
        @include grid-column(2);
        margin: 1em 0;
        text-align: right;
    }
    a {
        width: 1em;
        padding: 0 0.25em;
        text-decoration: none;
    }
}
.post--nav {
    text-align: center;
    border-top: 1px solid $light-gray;
    padding: 1em 0;
}