---
layout: default
---

<div class="page">

<header id="content-header">
  <section id="page-title">
    <h1>{{ page.title }}</h1>
  </section>
</header>

<article id="content">

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
  {% endif %}

  {% if page.images[0].image_path %}
  <section class="gallery">
    {% for image in page.images %}
      {% if image.image_path %}
      <div class="gallery-box {% cycle 'alpha', '', 'last' %}">
        <a href="{% include imgpath.html src=image.image_path max-w=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ image.image_title }} - {{ image.image_description }}">
          {% include img.html src=image.image_path width=600 fit=clip alt=image.image_title %}
        </a>
        {% if page.display_title %}
          <caption>{{ image.image_title }}</caption>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  {% if page.description_markdown %}
  <section class="main-content">
    {{ page.description_markdown | markdownify }}
  </section>
  {% endif %}

  {% if page.videos %}

    {% for video in page.videos %}
      {% if video.videoid %}
        {% include youtubeplayer.html id=video.videoid %}
        {% if video.description %}
          <p class="description">{{ video.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}

  {% endif %}

</article>

<!-- optional pagination between pages in collection -->

{% for c in site.gallery %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.gallery %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.gallery %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

  <div class="post-nav">
      <div>
          {% if prevPost.url %}
          <a class="prev" href="{{prevPost.url}}">
              <span><svg class="icon"><use xlink:href="#icon-double_angle_left" /></svg> {{prevPost.title}}</span>
          </a>
          {% endif %}
          {% if nextPost.url %}
          <a class="next" href="{{nextPost.url}}">
              <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg> </span>
          </a>
          {% endif %}
      </div>
  </div>

</div>