---
layout: default
---

{% assign with_media = false %}
{% if page.images[0].image_path %}
  {% assign with_media = true %}
{% endif %}

<header id="content-header">
  <section id="page-title">
    <h1>{{ page.title }}</h1>
  </section>
</header>

<article id="content">
  <section class="main-content {% if with_media %}with-media{% endif %}">
    {{ content }}
  </section>

{% if with_media %}
  <aside class="media">

    {% if page.images[0].image_path %}
    <section class="gallery">
      {% for image in page.images %}
        {% if image.image_path %}
        <div class="gallery-box{% cycle '', ' last' %}">
          <a href="{% include imgpath.html src=image.image_path width=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ image.description }}">
            {% include img.html src=image.image_path width=280 height=280 alt=image.description %}
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </section>
    {% endif %}

  </aside>
{% endif %}

</article>

