---
layout: default
---
<div class="page">

  <header class="post--header">
    <h1 class="post--title">{{ page.title }}</h1>
  </header>

  {% if page.main_image_path %}
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    {% if page.main_image_caption %}<figcaption>{{ alt_text }}</figcaption>{% endif %}
    </figure>
  {% endif %}

  <section class="main--content">

   {{ content | markdownify }}

   <div class="post--meta">
      <span class="post--date">{{ page.post_date | date: "%-d %B %Y" }}</span>
      <!-- Editor Link -->
      <a href="cloudcannon:collections/{{ page.path }}" class="editor-link">Edit post</a>
    </div>

  </section>

  {% if page.images[0].image_path %}

    <section class="gallery">

      {% for image in page.images %}

        {% if image.image_path %}
        <div class="gallery--box {% cycle 'alpha', '', 'last' %}">
            {% include img.html src=image.image_path alt=image.description %}
            <caption>{{ image.image_title }}</caption>
            </div>
        {% endif %}

      {% endfor %}

    </section>

  {% endif %}

  {% if site.related_posts.size >= 1 %}

    <section class="post--related">

        <h3>You may also enjoy:</h3>

        <ul class="default-ul">

        {% for related_post in site.related_posts limit: 5 %}

        <li><a href="{{ related_post.url }}">{{ related_post.title }}</a>  <span class="post--date">{{ related_post.post_date | date: "%-d %B %Y" }}</span></li>

        {% endfor %}

        </ul>

    </section>
  {% endif %}

  <section class="post--rss">
    <p class="rss-subscribe text"><strong>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></strong></p>
  </section>

  <section class="post--share">

    <span>Share: </span>
    {% for social in site.social %}
      {% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
      {% if social.name == "Twitter" and social.share == true %}
        <a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}&via={{social.username}}"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>

        </a>
      {% endif %}
      {% if social.name == "Facebook" and social.share == true %}
        <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ full_url | cgi_escape}}"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>
        </a>
      {% endif %}
      {% if social.name == "Google+" and social.share == true %}
        <a href="//plus.google.com/share?title={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>
        </a>
      {% endif %}
      {% if social.name == "LinkedIn" and social.share == true %}
        <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url | cgi_escape}}"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>
        </a>
      {% endif %}
      {% if social.name == "Pinterest" and social.share == true %}
        <a href="//www.pinterest.com/pin/create/button/?description={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}&media={{ site.url }}{% if page.cover %}{{ page.cover | prepend: site.baseurl  }}{% elsif site.cover %}{{ site.cover | prepend: site.baseurl }}{% else %}{{ site.logo | prepend: site.baseurl }}{% endif %}"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>
        </a>
      {% endif %}
      {% if social.name == "Reddit" and social.share == true %}
        <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent('{{ full_url }}') + '&title={{page.title}}'; return false" class="link--share">
          <svg class="icon {{ social.icon }}"><use xlink:href="#{{ social.icon }}" /></svg>
        </a>
      {% endif %}

    {% endfor %}
  </section>

{% if site.inter_post_navigation == true %}
  <section class="post--navigation">
    <span class="prev--post">
      {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.baseurl}}">
          <span class="">
            <svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_left" /></svg>
          </span>
          <span class="page-number">{{page.previous.title}}</span>
        </a>
      {% endif %}
    </span>
    <span class="next--post">
      {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.baseurl}}">
          <span class="page-number">{{page.next.title}}</span>
          <span class="">
            <svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg>
          </span>
        </a>
      {% endif %}
    </span>
  </section>
{% endif %}

{% if site.disqus_shortname %}

  {% if page.comments %}

    <section class="disqus">

      <h3>Comment</h3>

      <div id="disqus_thread"></div>

      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_shortname = '{{ site.disqus_shortname }}';
        var pageurl = '{{ site.url }}' + '{{ page.url }}';
        var disqus_config = function () {
        this.page.url = pageurl;  // Replace PAGE_URL with your page's canonical URL variable
        //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </section>


  {% endif %}

{% endif %}
</div>