---
layout: default
---
<div class="page">
  <header id="content-header">
    <section id="page-title">
      <h2>{{ page.title }}</h2>
    </section>
  </header>

  <section id="content">

    <section class="main-content">
      {{ content }}
    </section>


    {% if page.images[0].image_path %}
    <section class="gallery">
      {% for image in page.images %}

        {% if image.image_path %}
        <div class="gallery-box {% cycle 'alpha', '', 'last' %}">
        {% include img.html src=image.image_path alt=image.description %}
        <caption>{{ image.image_title }}</caption>
      </div>
      {% endif %}
      {% endfor %}
    </section>
    {% endif %}

  </section>

</div>