// -----------------------------------------------------------------------------
// This file contains styles for gallery elements
// -----------------------------------------------------------------------------

/// 100% Gallery blocks
.gallery--cover {
    margin: 0 auto 1em auto;
    max-width: 1200px;
    a {
        color: $action-color;
        text-decoration: none;
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            color: $highlight-color;
            .gallery {
                background: rgba(255,255,255,1);
            }
        }
    }
}
.gallery--feature {
  // featured image on gallery page
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1em;
}

.gallery--list {
    /// make it a flexbox so items can be aligned vertically
    /*@include display(flex);
    @include align-items(flex-start);
    @include flex-direction(row);

    // align-items: flex-end; // align bottom
    @include flex-wrap(wrap);*/

    // now, woah there, make it a grid like it's 2017

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));


    a {
        img {
            opacity: 1;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:active,
            &:focus {
                opacity: 0.8;
                transition: all 0.2s ease-in-out
            }
        }
        h3 {
            color: $base-font-color;
        }

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            color: shade($action-color, 20%);
            h3 {
                //color: $camouflage;
            }
        }
    }
}
.gallery--front {
    padding: 0 1em 1em;
    background: rgba(255,255,255,0.8);
}

.gallery--box,
.gallery--box-large {
    padding-bottom: 1em;
    text-align: center;
    @include grid-media ($small) {
        @include grid-column(2);
    }
}
.gallery--box-50 {
    padding-bottom: 1em;
    text-align: center;
    @include grid-media ($small) {
        @include grid-column(2);
    }
}
.gallery--box-home {
    @include grid-media ($small) {
        @include grid-column(2);
    }
}
.alpha {
    @include grid-media ($small) {
        clear: both;
    }
}
.last {
    @include grid-media ($small) {
        //@include omega();
    }
}
/// Remove widths for grids
@supports (display: grid) {
  .gallery--box-50,
  .gallery--box,
  .gallery--box-large,
  .gallery--box-home {
    width: auto;
  }
}