// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

/// logo
.logo {
    display: block;
    //background: rgba($navigation-color, 0.8);
    padding: 0 0.5em;
    //float: left;
    //height: 6em;

    span {
        font-size: 1.25em;
    }

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: $navigation-color-hover;
    }
    &:active,
    &:focus {
        outline: none;
    }
}
.logo--header {
    font-family: $site-title-font-family;
    color: $medium-gray;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: modular-scale(2);
    @include grid-media ($small) {
        font-size: modular-scale(5);
    }
}
.subtitle {
    color: $base-font-color;
    font-family: $subheading-font-family;
    font-weight: 400;
    font-style: italic;
    font-size: modular-scale(3);
}