// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

/// logo
.logo {
    display: block;
    color: $base-font-color;
    text-shadow: 0 2px 1px rgba(0,0,0,0.8) !important;
    //background: rgba($navigation-color, 0.8);
    padding: 0 0.5em;
    @include media ($small) {
        //width: 40%;
    }
    //float: left;
    //height: 6em;

    span {
        font-size: 1.25em;
    }
    h1 {
        margin-bottom: 0;
    }
    .subtitle {
        color: $base-font-color;
        font-family: $subheading-font-family;
        font-weight: 400;
        font-style: italic;
        font-size: modular-scale(3);
    }
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
