// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

.header--wrapper {
    /* flex horizontal centering */
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-flow: row wrap;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
.header--logo {

}

.header--title {
    align-self: center; // flex centered

    font-family: $site-title-font-family;
    color: $medium-gray;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;

    font-size: modular-scale(2);

    @include grid-media ($small) {
        font-size: modular-scale(5);
    }
}

/// And now, with the grid
/* https://gridbyexample.com/ */
@supports (display: grid) {
    .header--wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, auto);
    }
    .header--logo {
        justify-self: end;
        width: auto;
        max-width: 150px;
    }
}

.subtitle {
    color: $base-font-color;
    font-family: $subheading-font-family;
    font-weight: 400;
    font-style: italic;
    font-size: modular-scale(3);
}