// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation
// -----------------------------------------------------------------------------

.navigation {
    margin: 0;
    @include outer-container;
    padding: 1em 1em 0;
    background-color: $white;
    z-index: 99; // to cover over flexslider
}
/// Nav menu
.navigation-wrapper {
    //@include outer-container;
    @include clearfix;
    position: relative;
    background-color: $white;
}

/// small view
.navigation-menu-button {
    display: block;
    text-align: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    color: $navigation-color;
    text-decoration: none;
    .icon-menu {
        fill : $navigation-color;
    }
    &:link {
        color: $navigation-color;
        text-decoration: none;
    }
    &:hover, &:active {
        text-decoration: none;
        color: tint($navigation-color,20%);
        /// menu icon
        .icon-menu {
            fill : tint($navigation-color,20%);
        }
    }
    @include media ($medium) {
        display: none;
    }
}
.menu-title {
    font-size: 0.9em;
    font-weight: 400;
}

nav {
    float: right;
    @include media ($medium) {
        float: none;
        line-height: 1.5em;
    }
}

ul.navigation-menu {
    clear: both;
    text-align: center;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($medium) {
        display: block;
        margin: 0;
        padding: 0;
    }
    &.show {
        display: block;
    }
}

/// Nav items

li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    @include media ($medium) {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
    }
    a {
        color: $navigation-color;
        display: inline-block;
        @include media ($medium) {
            padding-right: 1.5em;
        }
        &:hover {
            color: $navigation-color-hover;
            text-decoration: none;
        }
    }

    &:last-child a {
        @include media ($medium) {
            padding-right: 1em;
        }
    }
}
li.nav-link.active,
li.active {
    a {
        color: $black;
    }
}



/// Drop down menu v2
// http://refills.bourbon.io/components/

.dropdown-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.dropdown-description {
  background: $dropdown-background;
  border-bottom: $dropdown-border;
  border-bottom-left-radius: $base-border-radius;
  border-left: $dropdown-border;
  border-top-left-radius: $base-border-radius;
  border-top: $dropdown-border;
  color: $dropdown-description-color;
  float: left;
  //font-size: 0.7em;
  //line-height: $dropdown-height;
  margin: 0;
  padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

  @include media($large-screen) {
    font-size: 1em;
  }
}

.dropdown-button {
  cursor: pointer;
  //float: right;
  //line-height: $dropdown-height;
  //margin: 0;
  padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
  position: relative;

  @include media($large-screen) {
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
  }
}

.dropdown-button:hover {
  //background-color: $dropdown-background-hover;
}

.dropdown-button::after {
  color: $base-font-color;
  content: "\25BE";
  display: block;
  position: absolute;
  right: $dropdown-padding;
  top: $dropdown-arrow-top-distance;
  @include media($large-screen) {
    right: $dropdown-padding / 2;
  }
}

.dropdown-menu {
  background: $dropdown-background;
  border: $dropdown-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 2px transparentize(black, 0.8);
  color: $dropdown-color;
  cursor: pointer;
  display: none;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 0;
  top: $dropdown-distance-from-menu;
  transition: all 0.2s ease-in-out;
  width: 228px;
  z-index: 99999;

  &::before {
    @include position(absolute, 0 0 0 0);
    color: $dropdown-background;
    content: "\25b2";
    font-size: 1.4em;
    pointer-events: none;
    text-shadow: 0 -2px 2px transparentize(black, 0.7);
    top: -0.7em - $dropdown-padding / 2;
    @include media($large-screen) {
      right: 1em;
      top: -0.8em;
    }
  }
}

.dropdown-menu li {
  border-bottom: $dropdown-inner-border;
  color: $dropdown-color;
  list-style: none;
  padding: $dropdown-padding / 2;
}

.dropdown-menu li:hover {
  background: $dropdown-background-hover;
}

.dropdown-menu li:first-child {
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
}

.dropdown-menu li:last-child {
  border: 0;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

.show-menu {
  display: block;
}

// Inspired by code by www.HUSAMUI.com