// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation
// -----------------------------------------------------------------------------

.navigation {
    margin: 0;
    @include grid-container;
    padding: 1em 1em 0;
    background-color: $white;
    z-index: 99; // to cover over flexslider
}
/// Nav menu
.navigation--wrapper {
    //@include grid-container;
    @include clearfix;
    position: relative;
    background-color: $white;
}

/// small view
.navigation-menu-button {
    display: block;
    text-align: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    color: $navigation-color;
    text-decoration: none;
    .icon-menu {
        fill : $navigation-color;
    }
    &:link {
        color: $navigation-color;
        text-decoration: none;
    }
    &:hover, &:active {
        text-decoration: none;
        color: tint($navigation-color,20%);
        /// menu icon
        .icon-menu {
            fill : tint($navigation-color,20%);
        }
    }
    @include grid-media ($small) {
        display: none;
    }
}
.menu--title {
    font-size: 0.9em;
    font-weight: 400;
}

nav {
    float: right;
    @include grid-media ($small) {
        float: none;
        line-height: 1.5em;
    }
}

.navigation--menu {
    clear: both;
    text-align: center;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include grid-media ($small) {
        display: block;
        margin: 0;
        padding: 0;
    }
    &.show {
        display: block;
    }
}

/// Nav items

.nav--link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    @include grid-media ($small) {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
    }
    a {
        color: $navigation-color;
        display: inline-block;
        @include grid-media ($small) {
            padding-right: 1.5em;
        }
        &:hover {
            color: $navigation-color-hover;
            text-decoration: none;
        }
    }

    &:last-child a {
        @include grid-media ($small) {
            padding-right: 1em;
        }
    }
}
.nav--link.active,
li.active {
    a {
        color: $black;
    }
}

.show--menu {
  display: block;
}
