// -----------------------------------------------------------------------------
// This file contains some basic styles - overriding Bourbon defaults
// -----------------------------------------------------------------------------

///	Globals

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    height: 100%;
}
body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    // grid setup
    display: grid;
    grid-template-areas:
      "header"
      "page"
      "footer";
    grid-template-rows: minmax(180px, 10%) 1fr 20%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    background-color: $base-background-color;
}

.navigation, .site-footer {
    @include flex(none);
    //@include flex(1 0 auto);
}
.navigation {
    grid-area: header;
}
.site-footer {
    grid-area: footer;
}
.page-content {
    @include flex(1 0 auto);
    grid-area: page;
}

section {
    clear: both;
    padding: 1rem 0;
}

ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

pre code.hljs {
    font-size: modular-scale(-1);
}

figure {
    margin: 0 0 1em 0;
}
// layout elements

.half {
    @include span-columns(12);
    @include media ($small) {
        @include span-columns(6);
    }
}
.textright {
    text-align: right;
}

///	Body

.page-content {

    .page {
        @include outer-container;
        padding: 1em;
        background-color: $white;
        @include media ($medium) {
            padding: 1em 0;
        }
    }
    ///	index.html
    .site-header-container {
        color: $white;
        text-shadow: 0 2px 1px rgba(0,0,0,0.33);
        background-color: $highlight-color;
        .site-header{
            .title {
                font-size: modular-scale(6);
            }
            .subtitle {
                font-style: italic;
                font-size: modular-scale(1);
            }
        }
    }
    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

