// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;
$subheading-font-family: ('Lato', 'Helvetica Neue', 'Helvetica', 'verdana', 'Arial', sans-serif);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

/// Colors
$black: rgb(17, 17, 17);
$dark-gray: rgb(51, 51, 51);
$medium-gray: rgb(153, 153, 153);
$light-gray: rgb(221, 221, 221);
$white: rgb(255, 255, 255);
$kbgray: rgb(229, 229, 229);
// Flat UI Colors. For more, see http://flatuicolors.com/
$turquoise: rgb(26, 188, 156);  // Turqoise
$green: rgb(39, 174, 96);     // Nephritis
$blue: rgb(41, 128, 185);       // Belize Hole
$purple: rgb(142, 68, 173);     // Wisteria
$orange: rgb(211, 84, 0);     // Pumpkin
$red: rgb(192, 57, 43);       // Pomegranate
$gray: rgb(127, 140, 141);        // Asbestos
$dark-gray: rgb(51, 51, 51) !default;

// Social Media Brand Colors */
$twitter: rgb(0, 172, 237);
$facebook: rgb(59, 89, 152);
$googleplus: rgb(221, 75, 57);
$pinterest: rgb(203, 32, 39);
$linkedin: rgb(0, 123, 182);
$youtube: rgb(187, 0, 0);
$vimeo: rgb(26, 183, 234);
$tumblr: rgb(50, 80, 109);
$instagram: rgb(188, 42, 141);
$flickr: rgb(255, 0, 132);
$dribbble: rgb(234, 76, 137);
$quora: rgb(168, 36, 0);
$foursquare: rgb(0, 114, 177);
$forrst: rgb(91, 154, 104);
$vk: rgb(69, 102, 142);
$wordpress: rgb(33, 117, 155);
$stumbleupon: rgb(235, 72, 35);
$yahoo: rgb(123, 0, 153);
$blogger: rgb(251, 143, 61);
$soundcloud: rgb(255, 58, 0);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// OLD THINGS to be removed
// Font colours
$base-background-color: rgb(255, 255, 255);
$base-font-color: $dark-gray;

$base-border-radius: 3px !default;

$highlight-color: tint($action-color, 33%);
// Accessible link colours
$aaa-link: rgb(51, 68, 221);
$aaa-hover: rgb(181, 0, 16);
$aaa-visited: rgb(128, 65, 128);

// Gallery image hover
$gallery-image-hover-opacity: 0.7;
$gallery-image-hover-color: $medium-gray;
// navigation
$navigation-padding: 1em;
$navigation-background: $kbgray;
$navigation-height: 30px;
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 15em;
// navigation colours
$navigation-color: $black;
$navigation-color-hover: $medium-gray;
$navigation-active-link-color: transparentize(white, 0.5);

// drop down variables
$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40%);
$dropdown-border: 1px solid silver;
$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3%);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

/// Forms
$form-box-shadow: inset 0 1px 3px rgba(rgb(0, 0, 0), 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);



// Neat Breakpoints
/*$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
*/
// breakpoints - still required?

//$small: 480px;
//$medium: 768px;
//$large: 960px;

// converted to Neat 2
$medium: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);
$small: (
  columns: 1,
  gutter: 2rem,
  media: "(min-width: 488px)",
);
$large: (
  columns: 8,
  gutter: 2rem,
  media: "(min-width: 960px)",
);