// Google Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300|Lato:300,400);
/// Typography
$base-font-family: ('Open Sans',  'Helvetica Neue', 'Helvetica', 'verdana', 'Arial', sans-serif); // $helvetica;
$heading-font-family: ('Lato', 'Helvetica Neue', 'Helvetica', 'verdana', 'Arial', sans-serif); // $base-font-family;
$subheading-font-family: ('Lato', 'Helvetica Neue', 'Helvetica', 'verdana', 'Arial', sans-serif);
// Font Sizes
$base-font-size: $em-base; // 16px

// Adjust modular scale ratio
$modular-scale-ratio: $minor-third;

/// Line height
$base-line-height: 1.8;
$heading-line-height: 1.8;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $em-base;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

/// Colors
$black: rgb(17, 17, 17);
$dark-gray: rgb(51, 51, 51);
$medium-gray: rgb(153, 153, 153);
$light-gray: rgb(221, 221, 221);
$white: rgb(255, 255, 255);
$kbgray: rgb(229, 229, 229);
// Flat UI Colors. For more, see http://flatuicolors.com/
$turquoise: rgb(26, 188, 156);	// Turqoise
$green: rgb(39, 174, 96);	  	// Nephritis
$blue: rgb(41, 128, 185);				// Belize Hole
$purple: rgb(142, 68, 173);			// Wisteria
$orange: rgb(211, 84, 0);			// Pumpkin
$red:	rgb(192, 57, 43);				// Pomegranate
$gray: rgb(127, 140, 141);				// Asbestos
$dark-gray: rgb(51, 51, 51) !default;

// Social Media Brand Colors */
$twitter: rgb(0, 172, 237);
$facebook: rgb(59, 89, 152);
$googleplus: rgb(221, 75, 57);
$pinterest: rgb(203, 32, 39);
$linkedin: rgb(0, 123, 182);
$youtube: rgb(187, 0, 0);
$vimeo: rgb(26, 183, 234);
$tumblr: rgb(50, 80, 109);
$instagram: rgb(188, 42, 141);
$flickr: rgb(255, 0, 132);
$dribbble: rgb(234, 76, 137);
$quora: rgb(168, 36, 0);
$foursquare: rgb(0, 114, 177);
$forrst: rgb(91, 154, 104);
$vk: rgb(69, 102, 142);
$wordpress: rgb(33, 117, 155);
$stumbleupon: rgb(235, 72, 35);
$yahoo: rgb(123, 0, 153);
$blogger: rgb(251, 143, 61);
$soundcloud: rgb(255, 58, 0);

// Font colours
$base-background-color: rgb(255, 255, 255);
$base-font-color: $dark-gray;

// link colours
$action-color: $black;
$highlight-color: tint($action-color, 33%);
// Accessible link colours
$aaa-link: rgb(51, 68, 221);
$aaa-hover: rgb(181, 0, 16);
$aaa-visited: rgb(128, 65, 128);

// Gallery image hover
$gallery-image-hover-opacity: 0.7;
$gallery-image-hover-color: $medium-gray;

// Borders
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px !default;

// navigation
$navigation-padding: 1em;
$navigation-background: $kbgray;
$navigation-height: 30px;
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 15em;
// navigation colours
$navigation-color: $black;
$navigation-color-hover: $medium-gray;
$navigation-active-link-color: transparentize(white, 0.5);

// drop down variables
$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40%);
$dropdown-border: 1px solid silver;
$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3%);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

/// Forms
$form-box-shadow: inset 0 1px 3px rgba(rgb(0, 0, 0), 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

